[user]
	name = Florin Mihalache
	email = florin.mihalache@gmail.com
[github]
	user = mflorin
	token = ee03fb79561a33554e480f7c91868d58
[alias]
	ci = commit
	co = checkout
	rb = rebase
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --all --graph --decorate --pretty=oneline --abbrev-commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[core]
	excludesfile = /Users/mflorin/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = upstream
[merge]
	renamelimit = 3000
