[submodule "vim/.vim/pack/mflorin/start/vim-airline"]
	path = vim/.vim/pack/mflorin/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/.vim/pack/mflorin/start/nerdtree"]
	path = vim/.vim/pack/mflorin/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/pack/mflorin/start/vim-airline-themes"]
	path = vim/.vim/pack/mflorin/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/.vim/pack/mflorin/start/syntastic"]
	path = vim/.vim/pack/mflorin/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim/.vim/pack/mflorin/start/nerdtree-git-plugin"]
	path = vim/.vim/pack/mflorin/start/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
